plugins/*.so
plugins/*.dll
.idea/
.DS_Store
.vscode
go-zero*
nohup.out
zerobot
ZeroBot-Plugin*
*.syso
/.direnv
/result
/.tmp
/build/
/plugin/mediaparser/data/Font/
/plugin/mediaparser/data/control/
/plugin/mediaparser/data/mediaparser/config.json
/plugin/dailynews/data/
